python-multipart
google-generativeai
Pillow
adk
requests
pytz
python-dotenv

fastapi
uvicorn[standard]
python-multipart
python-dotenv
Pillow
google-cloud-aiplatform
google-generativeai
pydantic
google-auth
google-auth-oauthlib
google-auth-httplib2